<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Hajtás Pajtás - Rgisztráció - Cég
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/register_company_style.css' %}">

<h1>Company</h1>

<form action="" method="POST">

    {% csrf_token %}

    {% for field in user_creation_form %}
        {{ field.label_tag }}
        {{ field }}
        <br>
    {% endfor %}

    {% for field in company_form %}
        {% if field.label != 'Is company' %}
            {{ field.label_tag }}
            {{ field }}
        {% endif %}
        <br>
    {% endfor %}

    <button type="submit">Regisztrálok</button>
</form>

{% endblock %}