<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}

{% block title %}
Hajtás Pajtás - Budapest
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/budapest_style.css' %}">

<section>

    <p>Gyors futár szmog nélkül? Nem kell kompromisszumot kötnöd! Budapesten 25 percen belüli felvételt, és a hívástól számított 90 percen belüli leadást garantálunk. A hátizsákok 35 literesek, méretük 50x35x15 cm. Megrendelésed a<a href="tel://+3613279000"><strong> 327-9000</strong></a>-es központi számon adhatod le.</p>



    <h3>Alapárak</h3>



    <p>A fuvarért alapesetben a szállítás során érintett távolabbi zóna díját kell fizetni, függetlenül attól hogy az felvételi vagy leadási pont. </p>



    <h4>Kedvezmény! </h4>



    <p>A szállítás díja alapesetben a szállítás során érintett távolabbi zóna, függetlenül attól hogy az a felvételi vagy leadási pont. Díjzónáinkat világos és sötét körzetekre osztottuk. Határos vagy azonos körzetek között eggyel kedvezőbb zónadíjat számítunk fel. Több címet érintő fuvaroknál a kedvezmény minden szakaszra érvényes. A piros zónára és díjára a kedvezmény nem vonatkozik.</p>


    <img src="{% static 'main/images/prices-2022.jpg' %}" alt="arak">



    <h3>Különszolgáltatások</h3>



    <h4>Előzd meg a piroshetest! (alapár+50%)</h4>



    <p>Arra az esetre, ha a csomagodnak halaszthatatlanul a címzettnél kell lennie. A hívástól számított 15 percen belül felvesszük, majd 45 percen belül kézbesítjük Budapest egész területén. Ennél is gyorsabb futárra van szükséged? Megpróbálunk segíteni! Használjd ki a Hajtás Pajtás gyorsaságát!</p>



    <h4>Lassúdeolcsó&#8217;</h4>



    <p>Nem sürgős, de fontos küldeményekhez ajánljuk. Gyorsabb a postázásnál, olcsóbb az azonnali kézbesítésnél. A délelőtt rendelt szállításokat legkésőbb délután 17 óráig kézbesítjük, a délután rendelteket legkésőbb másnap délelőtt. Budapesten biciklivel bárhová csak 4310 Ft, Budapesttel határos településekre 9280 Ft. Fontos, hogy megrendeléskor kifejezetten kérni kell ezt az azonnali kézbesítéstől eltérő szolgáltatást.</p>



    <h4>Üres zsákos futár (alapár+50%)</h4>



    <p>Biciklisfutárunk kiállásakor az egész zsák térfogatára számíthatsz. Túlsúlyos, túlméretes küldeményekhez ajánljuk.</p>



    <h4>Körfuvar (csak 2390 Ft címenként)</h4>



    <p>10-nél több budapesti szállítás (dokumentum) egyidejű megrendelésekor kedvezményt adunk. Szolgáltatásunkat a <a href="tel://+3614110312"><strong>411-0312</strong></a>-es különszámon rendelheted meg. 25 cím fölött a küldeményeket egyszerre hozzuk el, és irodánkban szortírozzuk.</p>



    <h4>Várakozás, ügyintézés (10 perc után 10 percenként 990Ft)</h4>



    <p>Bármikor előfordulhat, hogy a küldemény szállítása a feladónál, vagy a címzettnél elakad, ezért ilyenkor az első 10 perc ingyenes. Ezt követően megkezdett 10 percenként várakozási díjat számítunk fel, természetesen csak akkor, ha a fennakadásról nem mi tehetünk.</p>



    <h4>Futárbérlet (45 560 Ft)</h4>



    <p>Ha összetett, egész napra szóló feladattal szeretnél megbízni bennünket, bérelj futárt! A Pajtás okos, erős, szép, és ahol tud segít. Hívd a <strong><a href="tel://+3614110312">411-0312</a></strong>-es különszámot vagy érdeklődj a futarberlet@hajtaspajtas.hu címen.</p>



    <h4>Cargo (biciklis ár +3330 Ft)</h4>



    <p>Nehéz küldemények kézbesítése teherszállító kerékpárral, 100 kilóig. Autóktól elzárt belvárosi területekre ajánljuk!</p>



    <h4>Éjszaka és hétvége (alapár+50%)</h4>



    <p>Éjszaka (18-08 óráig), csak előzetes megrendelésre.</p>



    <p>Áraink a 27%-os ÁFÁ-t nem tartalmazzák</p>

</section>

{% endblock %}