<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}

{% block title %}
Hajtás Pajtás - Külföld
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/kulfold_style.css' %}">

<section>

    <p>Bátran a Hajtás Pajtásra bízhatod nemzetközi küldeményeidet is. Autóval, vagy repülővel, de megtaláljuk a számodra legkedvezőbb megoldást. Elsősorban Európába szállítunk, de villámgyorsan ajánlatot adunk, és leszervezünk neked egy tengeren túli szállítást is.</p>



    <h3>Külföld másnap</h3>



    <p>A hétköznap 13 óráig megrendelt és előkészített szállításokat már a következő munkanapon, munkaidőben teljesítjük az Európai Unió országaiba, kilenc EU tagállamba pedig rendkívül kedvezményes áron. Ismerd meg tarifáinkat és a kézbesítési időket. Más országok díjairól Szűcs Szabolcsnál érdeklődhetsz a <strong><a href="tel://+3614110312">+36 1 411 0312</a></strong> telefonszámon.</p>



    <h4>Kézbesítési idők</h4>



    <table
    ><tbody>
    <tr class="odd row">
        <td>Németország </td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="even row">
        <td>Ausztria</td>
        <td>8:00 – 12:00</td>
    </tr>
    <tr class="odd row">
        <td>Belgium</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="even row">
        <td>Dánia</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="odd row">
        <td>Hollandia</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="even row">
        <td>Szlovákia</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="odd row">
        <td>Csehország</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="even row">
        <td>Románia</td>
        <td>
            2 nap
        </td>
    </tr>
    <tr class="odd row">
        <td>Szlovénia</td>
        <td>8:00 – 16:00</td>
    </tr>
    <tr class="even row">
        <td>Más tagállamok</td>
        <td>8:00 – 18:00</td>
    </tr>
    <tr class="odd row">
        <td>Más kontinensek</td>
        <td>egyedi idők</td>
    </tr>
    </tbody>
    </table>



    <h4>Kedvezményes árak</h4>



   <table>
       <tbody>
       <tr class="odd row">
           <td>Dokumentum</td>
           <td>15 770 Ft</td>
       </tr>
       <tr class="even row">
           <td>5 kg-ig</td>
           <td>21 950 Ft</td>
       </tr>
       <tr class="odd row">
           <td>5 kg fölött</td>
           <td>egyedi árajánlat</td>
       </tr>
       </tbody>
   </table>



    <p></p>



    <h3>Külföld azonnal</h3>



    <p>Halaszthatatlan külföldi csomagod is a Hajtás Pajtás autós futáraira bízhatod. 40 percen belül felvesszük, és azonnal indulunk. A szállítás díja 500 kilométernél közelebbi cél esetén 246 Ft/km, 500 km után csak 216 Ft/km, oda-vissza számolva.</p>



    <p>Áraink a 27%-os ÁFÁ-t nem tartalmazzák</p>


</section>


{% endblock %}