<!DOCTYPE html>
{% extends "main/base.html" %}
{% load static %}

{% block title %}
Hajtás Pajtás - Vidék
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'main/css/videk_style.css' %}">

<section>

    <p>Bízd a Hajtás pajtásra vidéki szállításaidat is! Ha kell, autóval, és azonnal indulunk, de ha ráér vonattal, vagy másnap munkaidőben is kézbesítenünk, sok pénzt takaríthatsz meg. Válaszd a Neked legmegfelelőbb megoldást! A pontos árakról, és részletekről a <strong><a href="tel://+3614110312">+36 1 411 0312</a></strong>-as különszámon érdeklődhetsz, és ugyanezen adhatod le a megrendelésed is.</p>



    <h3>Vidékre másnap</h3>



    <p>15 óráig megrendelt és előkészített küldeményeidet a következő munkanapon 17 óráig kézbesítjük az ország bármely településén. 50.000 Ft alatti értékre a csomagbiztosítás automatikus . &#8220;Címzett fizet&#8221; és más különszolgáltatások is igényelhetők.  Az alábbi díjak csomagonként értendők.</p>



    <table>
        <tbody>
            <tr class="odd row">
                <td>0–0,5 kg</td>
                <td>6430 Ft</td>
                <td><strong>Megrendelés:</strong></td>
            </tr>
            <tr class="even row">
                <td>0,5–5 kg</td>
                <td>8460 Ft</td>
                <td>15 óráig telefonon</td>
            </tr>
            <tr class="odd row">
                <td>5–10 kg</td>
                <td>10 840 Ft</td>
                <td><strong>Leadás:</strong></td>
            </tr>
            <tr class="even row">
                <td>10 kg felett</td>
                <td>egyedi árajánlat</td>
                <td>másnap 8 és 17 óra között</td>
            </tr>
        </tbody>
    </table>



    <p></p>



    <h3>Vidékre azonnal</h3>



    <p>Vidéki településekre is gyorsan és pontosan kézbesítünk, autóval, vagy vonattal és kerékpárral. Minden vidéki szállítás idejéről előre, pontosan tájékoztatjuk megrendelőinket, és a megadott időkre pénzvisszafizetési garanciát vállalunk. Vidéki küldemények szállítása Szűcs Szabolcsnál rendelhető a <strong><a href="tel://+3614110312">+36 1 411 0312</a></strong>-as telefonszámon.</p>



    <p><br><strong>Vidéki szállítás díja: </strong>246 Ft/km, de minimum 16 190 Ft.<br><strong>Teherszállítás furgonnal: </strong>298 Ft/km, de minimum 23 330 Ft<br><strong>Budaörs, Budakeszi, Törökbálint: </strong>9880 Ft</p>



    <p>Áraink a 27%-os ÁFÁ-t nem tartalmazzák</p>

</section>


{% endblock %}